<launch>
  <node type="simulation" name="simu" pkg="simulation" output="screen"/>
  <node type="headingCtrl" name="ctrl" pkg="control" output="screen">
  	<param name="kp" value="1.2" />
  	<param name="kd" value="0.001" />
  	<param name="ki" value="0" />
  </node>
  <node type="fieldCtrl" name="field" pkg="remote_control" output="screen"/>
  <node type="customMessage" name="customMessage" pkg="remote_control" output="screen">
  	<param name="customTopic2" value="/testTopic" />
  </node>
</launch>
